:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #29d70e;
  }
}
.idea-tracker{
margin-left: 37rem;
font-size: 1.5rem;
}
a {
  font-weight: 400;
  color: #fff;
  text-decoration: inherit;
}
.user-email{
color: #fff;
margin-left: 31rem;
font-size: 1.2rem;
}
.login-link{
margin-left: 25rem;
font-size: 1.3rem;
}
.navbar_header{
height: 4.3rem;
width: 94.9rem;
background-color: #000;
}
.user-logoutbtn{
padding: 5px 5px;
background-color: #fff;
margin: 0 0 1rem 4rem;

}